body {
    margin: auto;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
    width: 1300px;
}

/* Navegador */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-weight: bolder;
    border: solid black 2px;
    transform: scale(1.2);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    margin-left: 70px;
}

.nav-ul{
    list-style: none;
    margin: auto;
    padding: 10px;
    transform: scale(.8);
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.nav-link {
    text-decoration: none;
    color: #000;
}

.icon-login{
    display: flex;
    gap: 20px;
    scale: 1.2;
}

.items-list{
    padding: 30px;
    
}

.div-ul{
    display: flex;
    gap: 20px;
    padding-right: 50px;
}

/* L'EXPERIENCE EXTRAORIDINAIRE */
.mini-text{
    font-size: x-small;   
}
.main-title{
    font-size:80px;
    margin: 0%;
}
.parrafo{
    max-width: 500px;
    text-align: justify;
}


/* DERNIÈRE COLLECTION */

.title2{
    font-size: 80px;
    max-width: 10px;
}

.main{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
 
}

.text-image{
    max-width: 200px;
    font-size:  small;
    
}



/* SHOWROOM */

.div-showroom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.palo{
    font-size: 23px;
}

.parrafo2{
    max-width: 178px;
    font-size: 12px;
    font-weight: bold;
    text-align:justify;
}

/* BOTÓN */
button{
    border-radius: 23px;
    border: solid 1px black;
}

/* BOUTIQUE */

.section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0; 
}

