body {
    margin: auto;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;                                       
    width: 1300px;
}

@font-face{
    font-family: 'bagn-pro-regular';
    src: url(bahn-pro-regular.ttf);
}

/* Navegador */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    border: solid black 2px;
    font-family:'bagn-pro-regular';
    margin: 0;
    font-size: 30px;
    width: 100px;
    text-align: center;
    
}

.nav-ul{
    list-style: none;
    margin: auto;
    padding: 10px;
    transform: scale(.8);
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.nav-link {
    text-decoration: none;
    color: #000;
}

.icon-login{
    display: flex;
    gap: 20px;
    scale: 1.2;
}

.items-list{
    padding: 30px;
    
}

.div-ul{
    display: flex;
    gap: 20px;
    padding-right: 0px;
}

/* L'EXPERIENCE EXTRAORIDINAIRE */
.mini-text{
    font-size: 15px;   
    
}
.main-title{
    font-size:80px;
    margin: 0;
}
.parrafo{
    max-width: 450px;
    text-align: justify;
    font-size: .9em;
    padding-bottom: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first-button{
    padding: 8px 25px;
    background-color: white;
    font-weight: bold;
}

.first-barr{
    height: 4px;
    

}
 
.div-button-barra{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.sub-barra-progress{
    display: flex;
    flex-direction: column;
}

.car-image{
    padding-top: 20px;
    padding-bottom:40px;
}

label{
    font-weight: bold;
    font-size: .8em ;
}

/* DERNIÈRE COLLECTION */

.title2{
    font-size: 80px;
    max-width: 10px;
}

.main{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
 
}

.text-image{
    max-width: 200px;
    font-size:  small;
    
}

.trozo-texto1{
    color: lightgrey;
}

.marca-descripcion{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.marca-car, .descripcion {
    margin: 0;
}

.marca-car{
    color: gainsboro;
}

/* SHOWROOM */

.div-showroom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.palo{
    font-size: 23px;
}

.parrafo2{
    max-width: 178px;
    font-size: 12px;
    font-weight: bold;
    text-align:justify;
}

.second-button{
    padding: 10px 25px;
    background-color: white;
    font-weight: bold;
    
}

.sub-class-second-button{
    padding-top: 30px;
    padding-bottom: 40px;
}


/* BOTÓN */
button{
    border-radius: 23px;
    border: solid 1px black;
}

/* BOUTIQUE */

.section{
    display:flex;
    gap: 30px;
    align-items: center;
    
    
}
.veste{
    font-size: 15px;
    
}

.montres{
    font-size: 15px;
}

.e-bikes{
    font-size: 15px;
}

.chaises{
    font-size: 15px;
}

.div-canon{
    display: flex;
    justify-content: end;
    margin: 0;
}


.circle{
   border: solid black 1px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 180px;
   width: 180px;
   margin: 70px;
   
}

.image-circle{
    max-width: 100px;
    text-align: center;
    font-weight: 300;
}

.image-multimedia{ 
    width: 700px;
    height: 300px;
}

.grampa-french{
   display: flex;
   justify-content:right;
   width: 100%;
 
   
}



.italic{
    font-style: italic;
}



