body {
    margin: auto;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;                                       
    width: 1312px;
}

@font-face{
    font-family: 'bagn-pro-regular';
    src: url(fuentes/bahn-pro-regular.ttf);
}

/* Navegador */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    border: solid black 3px;
    font-family:'bagn-pro-regular';
    margin: 0;
    font-size: 30px;
    width: 100px;
    text-align: center;
    
}

.nav-ul{
    list-style: none;
    margin: auto;
    padding: 10px;
    transform: scale(.8);
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.nav-link {
    text-decoration: none;
    color: #000;
}

.icon-login{
    display: flex;
    gap: 20px;
    scale: 1.2;
}

.items-list{
    padding: 30px;
    font-size: 20px;
    
}

.div-ul{
    display: flex;
    gap: 20px;
    padding-right: 0px;
}

/* L'EXPERIENCE EXTRAORIDINAIRE */

.mini-text{
    font-size: 15px;   
    
}
.main-title{
    font-size:80px;
    margin: 0;
}
.parrafo{
    max-width: 450px;
    text-align: justify;
    font-size: .9em;
    padding-bottom: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first-button{
    padding: 8px 25px;
    background-color: white;
    font-weight: bold;
}

.first-barr{
  height: 4px;
  
}


.div-button-barra{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.sub-barra-progress{
    display: flex;
    flex-direction: column;
}

.car-image{
    padding-top: 20px;
    padding-bottom:40px;
}

label{
    font-weight: bold;
    font-size: .8em ;
}

progress{
    color:#000
}

/* DERNIÈRE COLLECTION */

.title2{
    font-size: 80px;
    max-width: 10px;
}

.main{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
 
}

.text-image{
    max-width: 200px;
    font-size:  small;
    
}

.trozo-texto1{
    color: lightgrey;
}

.marca-descripcion{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.marca-car, .descripcion {
    margin: 0;
}

.marca-car{
    color: gainsboro;
}

/* SHOWROOM */

.div-showroom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.palo{
    font-size: 23px;
}

.parrafo2{
    max-width: 178px;
    font-size: 12px;
    font-weight: bold;
    text-align:justify;
    margin-top: 40px;
}

.second-button{
    padding: 10px 25px;
    background-color: white;
    font-weight: bold;
    
}

.sub-class-second-button{
    padding-top: 30px;
    padding-bottom: 40px;
}


/* BOTÓN */
button{
    border-radius: 23px;
    border: solid 1px black;
}

/* BOUTIQUE */

.section{
    display:flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
    
    
}

.common{
    font-size: 13px;
    width: 90%;
    text-align: justify;
}

.div-canon{
    display: flex;
    justify-content: end;
    margin: 0;
}


.circle{
   border: solid black 1px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 180px;
   width: 180px;
   margin: 70px;
   
}

.image-circle{
    max-width: 100px;
    text-align: center;
    font-weight: 300;
}

.image-multimedia{ 
    width: 700px;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.grampa-french{
   display: flex;
   justify-content:right;
   width: 100%;
 
   
}

.italic{
    font-style: italic;
    margin: 0;
    margin-bottom: 140px;
}

.text-plus{
   margin-top:.5px;
   font-weight: 400;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
}

.footer_first{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.div-h2-footer{
    font-size: 4em;
    width: 80%;
    font-weight: 280;
    margin-bottom: 12px;
    text-transform: uppercase;
    margin: 0;
      
}

.footer-input{
    margin: 20px 0;
    padding: 10px;
    padding-left: 0;
    color:black; 
    width: 30%;
    border: none;
    border-bottom: 1px solid gray;
    outline: 0;
    
}

#footer-input-icon{
    position: relative;
    right: 15px;
}

.div-footer2{
    margin: 50px 0;
    gap: 40px;
    display: flex;
      
}


.part2-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sub-part2-footer{
    display: flex;
    gap: 40px;
}

.menu-footer{
    width: 100px;
}

.strong-title {
    margin-bottom: 60px;
}

.boutiques-strong{
    margin-bottom: 60px;

}
.ul-menu, .list-box{
    padding: 0;
}

.ul-items, .list-items{
    width: 100px;
    list-style: none;
    padding: 10px 0px;
    
}

.botton-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 200px;
   
    
    
}

.boton-one{
    margin-top: 50px;
}
